@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<input type="text" id="name" placeholder="Nombre" value="@Model.Nombre">
<input type="text" id="apellido" placeholder="Apellido">
<div> @Model.Nombre </div>
<button onclick="probar()">Ver</button>
